    body {
        font-family: Arial, sans-serif;
        text-align: center;
        background-color: rgb(196, 251, 255);
    }
    #resultado {
        margin-top: 20px;
    }
    .container {
        max-width: 1200px;
        margin: 0 auto;
    }
    .header {
        background-image: linear-gradient(
            rgba(0,0,0,0.7),
            rgba(0, 0, 0, 0.7)),
            url(img\ 1.jpg);
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 70vh;
        display: flex;
        align-items: right;
    }
    .menu {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .menu .navbar ul li {
        position: relative;
        float: left;
    }
    .menu .navbar ul li a {
        font-size: 18px;
        padding: 20px;
        color: #2929f5;
        display: block;
        font-weight: 600;
    }
    .menu .navbar ul li a:hover {
        color: #2929f5;
    }
    #menu {
        display: none;
    }
    .menu-icono {
        width: 5px;
    }
    .menu label {
        cursor: pointer;
        display: none;
    }
    .header-content {
        text-align: center;
    }
    .header-content h1 {
        font-size: 75px;
        line-height: 80px;
        color: #2929f5;
        text-transform: uppercase;
        margin-bottom: 35px;
    }
    .header-content p {
        font-size: 16px;
        color:#2929f5;
        padding: 0 250px;
        margin-bottom: 25px;
        text-align: center;
    }
    @media(max-width:991px) {
        .menu {
            padding: 30px;
        }
        .menu label {
            display: initial;
        }
        .menu .navbar {
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            background-color: #323337;
            display: none;
        }
        .menu .navbar ul li {
            width: 100%;
        }
        #menu:checked ~.navbar {
            display: initial;
        }
        .header {
            min-height: 0vh;
        }
        .header-content {
            padding: 100px 30px;
        }
        .header-content p {
            padding: 0;
        }
        }